@media screen and (max-width: 1300px) {
  .why-item {
    width: 45%;
  }
  .major-event{
    width: 40vw;
  }
  .top-events {
    gap: 2%;
  }
  .single-event {
    width: 300px;
  }
  .mentor img {
    width: 200px;
    height: 180px;
    object-fit: cover;
  }
  .links-teacher{
    width: 200px;
  }
  .mentor:hover  .links-teacher{
    height: 180px;
  }
  .member-swiper-wrapper {
    margin-left: -10px;
  }
  .member {
    height: 15vw;
  }
  .member img {
    width: 13vw;
    height: 13vw;
  }
}

@media screen and (max-width: 1000px) {
  .nav {
    width: 95%;
    padding: 20px 2.5%;
  }
  .home-logo {
    width: 350px;
  }
  .about {
    padding: 70px 10%;
  }
  .about-pick {
    width: 25%;
  }
  .about h1,
  .event h1,.contact h1 {
    font-size: 70px;
    line-height: 20%;
  }
  .why-item h3 {
    font-size: 25px;
  }
  .team h1 {
    font-size: 70px;
  }
  .about p {
    width: 90%;
    font-size: 18px;
  }
  .counter {
    width: 60%;
  }
  .counter-iteam h4 {
    font-size: 20px;
  }
  .counter-iteam h3 {
    font-size: 55px;
  }
  .black-circle-dots {
    width: 160px;
  }
  .major-event{
    width: 50vw;
  }
  .single-event {
    width: 350px;
  }
  .more-info-event {
    width: 85%;
  }
  .why h2,
  .departments h2 {
    font-size: 50px;
  }
  .departments-container {
    width: 85%;
  }
  .member-swiper-wrapper {
    margin-left: -20px;
  }
  .member {
    height: 18vw;
  }
  .member img {
    width: 15vw;
    height: 15vw;
  }
  .member h5 {
    font-size: 15px;
  }
  .contact-box{
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .contact-info{
    width: 80%;
    align-items: center;
  }
  .contact-info h5{
    text-align: center;
  }
  .footer-line{
    width: 130%;
  }
}
@media screen and (max-width: 800px) {
  .nav-items {
    gap: 25px;
  }
  .home-logo {
    width: 350px;
  }
  .about,
  .team,
  .event {
    width: 90%;
    padding: 50px 5%;
  }
  
  .about h1,
  .event h1 ,.contact h1{
    font-size: 60px;
    line-height: 10%;
  }
  .why-item h3 {
    font-size: 22px;
  }
  .why-item img {
    width: 35px;
  }
  .team h1 {
    font-size: 60px;
  }
  .about-pick {
    display: none;
  }
  .about p {
    width: 95%;
    font-size: 17px;
    line-height: 120%;
  }
  .counter {
    width: 70%;
  }
  .counter-iteam h4 {
    font-size: 18px;
  }
  .counter-iteam h3 {
    font-size: 45px;
  }
  .black-circle-dots {
    display: none;
  }
  .why-item {
    width: 400px;
  }
  .why h2,
  .departments h2 {
    font-size: 45px;
  }
  .departments-container {
    width: 90%;
  }
  .department-item img {
    width: 35px;
  }
  .teacher {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
  .department-item {
    width: 350px;
  }
  .leader,
  .heads {
    width: 90%;
  }
  .leaders,
  .department-team {
    width: 160px;
  }
  .leaders img,
  .department-team img {
    height: 170px;
  }
  .links-card,
  .department-links-card {
    width: 160px;
    height: 170px;
  }
  .member {
    height: 23vw;
  }
  .member img {
    width: 20vw;
    height: 20vw;
  }
  .member h5 {
    font-size: 15px;
  }
  .more-info-event {
    flex-direction: column;
    width: 95%;
    gap: 5px;
    height: 100%;
  }
  .more-info-event img {
    width: 100%;
    height: 40%;
  }
  .major-event{
    width: 60vw;
  }
  .event-header {
    justify-content: space-between;
  }
  .event-header h2 {
    font-size: 22px;
  }
  .event-header p {
    font-size: 14px;
  }
  .event-header {
    width: 100%;
    height: 60%;
    gap: 0px;
  }
  .testimonial-swiper .swiper-wrapper {
    margin-left: calc(10%);
  }
  .testonomial h2 {
    font-size: 45px;
  }
  .single-testimonial {
    width: 80%;
  }
  .single-testimonial img {
    width: 130px;
    height: 130px;
  }
  .testonomial h3 {
    font-size: 23px;
  }
  .footer-line{
    width: 150%;
  }
}

@media screen and (max-width: 600px) {
  .nav {
    flex-direction: column;
    gap: 10px;
  }
  .nav-items {
    gap: 30px;
  }
  .home-logo {
    width: 300px;
  }
  .about,
  .event {
    width: 90%;
    padding: 20px 5%;
  }
  .major-event{
    width: 70vw;
  }
  .about-image{
    width: 300px;
  }
  .team h1 {
    font-size: 50px;
  }
  .about h1,
  .team h1,
  .event h1,.contact h1 {
    font-size: 50px;
    line-height: 0%;
  }
  .about p {
    width: 100%;
    font-size: 16px;
  }
  .counter {
    width: 80%;
  }
  .counter-iteam h4 {
    font-size: 17px;
  }
  .counter-iteam h3 {
    font-size: 40px;
  }
  .why-item {
    width: 350px;
  }
  .why-item img {
    width: 35px;
  }
  .why-item p {
    font-size: 16px;
  }
  .why h2,
  .departments h2 {
    font-size: 40px;
  }
  .departments-container {
    width: 95%;
  }
  .leader,
  .heads {
    width: 80%;
  }
  .leaders,
  .department-team {
    width: 150px;
  }
  .leaders img,
  .department-team img {
    height: 150px;
  }
  .links-card {
    width: 150px;
  }
  .department-links-card {
    width: 150px;
  }

  .leaders:hover .links-card,
  .department-team:hover .department-links-card {
    height: 150px;
  }
  .testonomial h2 {
    font-size: 40px;
  }
  .single-testimonial img {
    width: 120px;
    height: 120px;
  }
  .testimonial-swiper .swiper-wrapper {
    margin-left: calc(5%);
  }
  .single-testimonial {
    width: 90%;
  }
  .testonomial h3 {
    font-size: 22px;
  }
  .single-testimonial h4 {
    font-size: 17px;
  }
  .member {
    height: 32vw;
  }
  .member img {
    width: 28vw;
    height: 28vw;
  }
  .member h5 {
    font-size: 15px;
  }
  .footer-line{
    width: 170%;
  }
}
@media screen and (max-width: 400px) {
  .nav {
    flex-direction: column;
    gap: 10px;
  }
  .nav-items {
    gap: 20px;
  }
  .home-logo {
    width: 250px;
  }
  .dev {
    width: 60px;
  }
  .ui {
    width: 40px;
  }
  .about,
  .team,
  .event {
    width: 90%;
    padding: 20px 5%;
  }
  .about-image{
    width: 250px;
  }
  .about h1,
  .event h1,.contact h1 {
    font-size: 50px;
    line-height: 0%;
  }
  .about p {
    width: 100%;
    font-size: 16px;
  }
  .counter {
    width: 90%;
  }
  .counter-iteam h4 {
    font-size: 16px;
  }
  .counter-iteam h3 {
    font-size: 35px;
  }
  .why-item p {
    font-size: 15px;
  }
  .why h2,
  .team h1,
  .departments h2 {
    font-size: 40px !important;
  }
  .major-event{
    width: 80vw;
  }
  .single-event {
    height: 100%;
  }
  .more-info-event {
    height: 100%;
  }
  .leader,
  .heads {
    width: 90%;
  }
  .leaders,
  .department-team {
    width: 120px;
  }
  .leaders img,
  .department-team img {
    height: 120px;
  }
  .leaders h5,
  .department-team h5 {
    font-size: 13px;
  }
  .leaders h4,
  .department-team h4 {
    font-size: 13px;
  }
  .links-card {
    width: 120px;
    height: 120px;
  }
  .department-links-card {
    width: 120px;
    height: 120px;
  }
  .member-swiper-wrapper{
    margin-left: -40px;
  }
  .member {
    height: 35vw;
  }
  .member img {
    width: 28vw;
    height: 28vw;
  }
  .member h5 {
    font-size: 12px;
  }
  .testonomial h2 {
    font-size: 35px;
  }
  .testimonial-swiper .swiper-wrapper {
    margin-left: calc(2%);
  }
  .single-testimonial {
    width: 95%;
  }
  .testonomial h3 {
    font-size: 20px;
  }
  .single-testimonial h4 {
    font-size: 16px;
  }
  .contact-links h5{
    font-size: 13px;
  }
  .contact-links i {
    font-size: 25px;
  }
  .footer-line{
    width: 200%;
  }

}
