@media screen and (max-width: 1300px) {
  .why-item {
    width: 45%;
  }
  .top-events {
    gap: 2%;
  }
  .single-event {
    width: 300px;
  }
  .mentor img{
    width: 200px;
    height: 180px;
    object-fit: cover;
  }
}
@media screen and (min-width:800px) {
  .less{
    display: none;
  }

}
@media screen and (max-width: 1000px) {
  .nav {
    width: 95%;
    padding: 20px 2.5%;
  }
  .home-logo {
    width: 350px;
  }
  .about {
    padding: 70px 10%;
  }
  .about-pick {
    width: 25%;
  }
  .about h1 {
    font-size: 70px;
    line-height: 20%;
  }
  .about p {
    width: 90%;
    font-size: 18px;
  }
  .counter {
    width: 60%;
  }
  .counter-iteam h4{
    font-size: 20px;
  }
  .counter-iteam h3 {
    font-size: 55px;
  }
  .black-circle-dots {
    width: 160px;
  }
  .single-event {
    width: 350px;
  }
  .why h2 {
    font-size: 50px;
  }
  .mentor img{
    width: 180px;
    height: 170px;
    object-fit: cover;
  }
}
@media screen and (max-width: 800px) {
  .nav-items {
    gap: 25px;
  }
  .home-logo {
    width: 350px;
  }
  .about {
    width: 90%;
    padding: 50px 5%;
  }
  .about h1 {
    font-size: 60px;
    line-height: 10%;
  }
  .more{
    display: none;
  }
  .less{
    display: block;
  }
  .about-pick {
    display: none;
  }
  .about p {
    width: 95%;
    font-size: 17px;
    line-height: 120%;
  }
  .counter {
    width: 70%;
  }
  .counter-iteam h4{
    font-size: 18px;
  }
  .counter-iteam h3 {
    font-size: 45px;
  }
  .black-circle-dots {
    display: none;
  }
  .why-item {
    width: 400px;
  }
  .why h2 {
    font-size: 45px;
  }
  .mentor img{
    width: 150px;
    height: 160px;
    object-fit: cover;
  }
}
/* ok */
@media screen and (max-width: 600px) {
  .nav {
    flex-direction: column;
    gap: 10px;
  }
  .nav-items {
    gap: 30px;
  }
  .home-logo {
    width: 300px;
  }
  .about {
    width: 90%;
    padding: 20px 5%;
  }
  .about h1 {
    font-size: 50px;
    line-height: 0%;
  }
  .about p {
    width: 100%;
    font-size: 16px;
  } 
  .counter {
    width: 80%;
  }
  .counter-iteam h4{
    font-size: 17px;
  }
  .counter-iteam h3 {
    font-size: 40px;
  }
  .why-item {
    width: 350px;
  }
  .why h2 {
    font-size: 40px;
  }
  .mentor img{
    width: 140px;
    height: 150px;
    object-fit: cover;
  }
}
@media screen and (max-width: 400px) {
  .nav {
    flex-direction: column;
    gap: 10px;
  }
  .nav-items {
    gap: 30px;
  }
  .home-logo {
    width: 250px;
  }
  .dev {
    width: 60px;
  }
  .ui {
    width: 40px;
  }
  .about {
    width: 90%;
    padding: 20px 5%;
  }
  .about h1 {
    font-size: 50px;
    line-height: 0%;
  }
  .about p {
    width: 100%;
    font-size: 16px;
  }
  .counter {
    width: 90%;
  }
  .counter-iteam h4{
    font-size: 16px;
  }
  .counter-iteam h3 {
    font-size: 35px;
  }
  .why h2 {
    font-size: 40px;
  }
  .mentor img{
    width: 120px;
    height: 130px;
    object-fit: cover;
  }
}
