* {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
:root {
  --primary-mid: #fafafa;
  --primary-main: #ededed;
  --primary-light: #ffffff;
  --secondary-main: #74c042;
  --secondary-light: #73cb43;
  --text-main: #3a3a3c;
  --text-light: #6b7070;
}
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px rgb(247, 247, 247);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(185, 185, 185);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(141, 141, 141);
}
h1 {
  font-weight: 800;
  font-size: 40px;
}
h2 {
  font-weight: 700;
  font-size: 30px;
}
h3 {
  font-weight: 600;
  font-size: 25px;
}
h4 {
  font-weight: 500;
  font-size: 20px;
}
h5 {
  font-weight: 400;
  font-size: 18px;
}
a {
  text-decoration: none;
  color: transparent;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.green {
  background-color: var(--secondary-main);
}
.light-green {
  background-color: var(--secondary-light);
}
.header-swiper {
  width: 100% !important;
  height: 100vh;
  position: absolute !important;
  top: 0px;
  z-index: 0;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "" !important;
}


.member-swiper .swiper-button-prev,
.member-swiper .swiper-button-next {
  margin-top: -30px;
  font-size: 30px;
  color: var(--text-light);
  background-color: var(--primary-light);
}
.member-swiper .swiper-button-prev {
  transform: translate(0%, 0%);
}
.member-swiper .swiper-button-next {
  transform: translate(20%, 0%);
}
.member-swiper .swiper-button-prev:hover,
.member-swiper .swiper-button-next:hover {
  color: var(--text-main);
}
.testimonial-swiper .swiper-button-prev,
.testimonial-swiper .swiper-button-next {
  margin-top: -30px;
  font-size: 30px;
  color: var(--text-light);
}
.testimonial-swiper .swiper-button-prev {
  transform: translate(-50%, 0%);
}
.testimonial-swiper .swiper-button-next {
  transform: translate(70%, 0%);
}
.testimonial-swiper .swiper-button-prev:hover,
.testimonial-swiper .swiper-button-next:hover {
  color: var(--text-main);
}
