<div id="about" class="about flex-col">
  <img src="/image/pattern/Pick.svg" class="about-pick circle-animation" />
  <h1>
    ABOUT
    <h1 id="about-head-fade">UI VISUALS</h1>
  </h1>
  <p class="more">
    <span style="font-weight: 500; color: #74c042">UI Visuals</span> is one of
    the Herald DevCorps Communities of Herald College Kathmandu, which was
    established on August 10, 2019. We specialize in designing user interfaces
    and front-end designs. The goal of this community is to share, grow, and
    connect with other designers and leaners to enhance UI and Visual Design.
    Our team builds leadership, design, communication skills, and teamwork
    abilities. We believe that these skills are essential for success not only
    in the field of design but in all aspects of life. We also believe that
    sharing knowledge and learning from each other is the key to success, and
    that's why we strive to create a learning environment that is both friendly
    and supportive. We welcome anyone who shares our passion for design and
    technology and who is willing to work hard to improve their skills and
    contribute to our community.
  </p>
  <p class="less">
    <span style="font-weight: 500; color: #74c042">UI Visuals</span> is a design
    community under Herald DevCorps Communities of Herald College Kathmandu that
    specializes in UI and front-end design, aiming to enhance skills through
    sharing, growth, and connection with other designers and learners, promoting
    a friendly and supportive learning environment for anyone passionate about
    design and technology.
  </p>
  <div class="counter flex-row">
    <div class="counter-iteam flex-col">
      <h4>Members</h4>
      <h3 id="member-counter"></h3>
    </div>
    <div class="counter-iteam flex-col">
      <h4>Departments</h4>
      <h3 id="department-counter"></h3>
    </div>
    <div class="counter-iteam flex-col">
      <h4>Events</h4>
      <h3 id="events-counter"></h3>
    </div>
  </div>
  <img src="/image/pattern/black-circle-dots.svg" class="black-circle-dots" />
</div>
<div class="why flex-col">
  <h2 id="why-ui-fade">WHY <br /><span>UI VISUALS ?</span></h2>
  <div class="why-item-container flex-row">
    <div class="why-item flex-col">
      <div class="flex-row" style="gap: 10px">
        <img src="/image/icons/UX.svg" />
        <h3>Opportunity to learn</h3>
      </div>
      <p>
        The community provides an opportunity for students to learn about UI/UX
        design, design tools, and the latest design trends. By participating in
        the community's programs and activities, students can gain practical
        experience in design and enhance their skills.
      </p>
    </div>
    <div class="why-item flex-col">
      <div class="flex-row" style="gap: 10px">
        <img src="/image/icons/Leadership.svg" />
        <h3>Leadership</h3>
      </div>
      <p>
        Students can get involved in planning and organizing community events,
        developing leadership and organizational skills while making a positive
        impact on the community.
      </p>
    </div>
    <div class="why-item flex-col">
      <div class="flex-row" style="gap: 10px">
        <img src="/image/icons/Communication.svg" />
        <h3>Communication</h3>
      </div>
      <p>
        The UI Visuals Community is made up of students who share a common
        interest in design. By joining the community, students can connect with
        other like-minded individuals and expand their professional network.
      </p>
    </div>
    <div class="why-item flex-col">
      <div class="flex-row" style="gap: 10px">
        <img src="/image/icons/Collaboration.svg" />
        <h3>Collaboration</h3>
      </div>
      <p>
        UI Visuals Community is a collaborative environment that encourages
        teamwork and communication skills, providing students with the
        opportunity to work on group projects and learn how to work with others
        effectively.
      </p>
    </div>
    <div class="why-item flex-col">
      <div class="flex-row" style="gap: 10px">
        <img src="/image/icons/OrganizingEvents.svg" />
        <h3>Access to Resources</h3>
      </div>
      <p>
        UI Visuals Community offers access to various design resources,
        including software, equipment, and design libraries, providing students
        with everything they need to succeed in the design industry.
      </p>
    </div>
    <div class="why-item flex-col">
      <div class="flex-row" style="gap: 10px">
        <img src="/image/icons/MaskGroup.svg" />
        <h3>Industry Exposure</h3>
      </div>
      <p>
        The community organizes workshops, seminars, and talks by industry
        professionals, which can provide students with valuable insights into
        the design industry and career opportunities.
      </p>
    </div>
  </div>
</div>
<div class="departments flex-col">
  <h2 id="department-fade">Departments</h2>
  <div class="departments-container flex-row">
    <div class="department-item flex-col">
      <img src="/image/icons/graphic-designer.svg" />
      <h4>Design</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus,
        obcaecati repellendus! Magnam, commodi
      </p>
    </div>
    <div class="department-item flex-col">
      <img src="/image/icons/coding.svg" />
      <h4>Development</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus,
        obcaecati repellendus! Magnam, commodi?
      </p>
    </div>
    <div class="department-item flex-col">
      <img src="/image/icons/magnifying-glass.svg" />
      <h4>Logistics</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus,
        obcaecati repellendus! Magnam, commodi
      </p>
    </div>
    <div class="department-item flex-col">
      <img src="/image/icons/market-research.svg" />
      <h4>Research</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus,
        obcaecati repellendus! Magnam, commodi
      </p>
    </div>
    <div class="department-item flex-col">
      <img src="/image/icons/budget.svg" />
      <h4>Finance</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus,
        obcaecati repellendus! Magnam, commodi ?
      </p>
    </div>
    <div class="department-item flex-col">
      <img src="/image/icons/photography.svg" />
      <h4>Photography</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus,
        obcaecati repellendus! Magnam, commodi
      </p>
    </div>
    <div class="department-item flex-col">
      <img src="/image/icons/videography.svg" />
      <h4>Videography</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus,
        obcaecati repellendus! Magnam, commodi ?
      </p>
    </div>
    <div class="department-item flex-col">
      <img src="/image/icons/bullhorn.svg" />
      <h4>Marketing</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus,
        obcaecati repellendus! Magnam, commodi
      </p>
    </div>
  </div>
</div>
