<div id="about" class="about flex-col">
  <img src="/image/pattern/Pick.svg" class="about-pick circle-animation" />
  <h1>
    ABOUT
    <h1 id="about-head-fade">UI VISUALS</h1>
  </h1>
  <p>
    <span style="font-weight: 500; color: #74c042">UI Visuals</span> is one of
    the Herald DevCorps Communities of Herald College Kathmandu, which was
    established on August 10, 2019. We specialize in designing user interfaces
    and front-end designs. The goal of this community is to share, grow, and
    connect with other designers and leaners to enhance UI and Visual Design.
    Our team builds leadership, design, communication skills, and teamwork
    abilities. We believe that these skills are essential for success not only
    in the field of design but in all aspects of life. We also believe that
    sharing knowledge and learning from each other is the key to success, and
    that's why we strive to create a learning environment that is both friendly
    and supportive. We welcome anyone who shares our passion for design and
    technology and who is willing to work hard to improve their skills and
    contribute to our community.
  </p>
  <div class="about-images flex-row">
    <img src="/image/DEV_BLACK.png" style="width: 90px" />
    <div class="about-images-line"></div>
    <img src="/image/HCK_BLACK.png" style="width: 200px" />
    <img src="/image/pattern/black-circle-dots.svg" class="black-circle-dots" />
  </div>
</div>
<div class="why flex-col">
  <h2 id="why-ui-fade">WHY <br /><span >UI VISUALS ?</span></h2>
  <div class="why-item-container flex-row">
    <div class="why-item flex-col">
      <div class="flex-row" style="gap: 10px">
        <img src="/image/icons/UX.svg" />
        <h3>Designs</h3>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore minima
        quidem enim sed eos necessitatibus asperiores! Nihil soluta pariatur
        aliquam magni possimus hic esse quas, quidem dolores dignissimos
        voluptas ea!
      </p>
    </div>
    <div class="why-item flex-col">
      <div class="flex-row" style="gap: 10px">
        <img src="/image/icons/Leadership.svg" />
        <h3>Leadership</h3>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore minima
        quidem enim sed eos necessitatibus asperiores! Nihil soluta pariatur
        aliquam magni possimus hic esse quas, quidem dolores dignissimos
        voluptas ea!
      </p>
    </div>
    <div class="why-item flex-col">
      <div class="flex-row" style="gap: 10px">
        <img src="/image/icons/Communication.svg" />
        <h3>Communication</h3>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore minima
        quidem enim sed eos necessitatibus asperiores! Nihil soluta pariatur
        aliquam magni possimus hic esse quas, quidem dolores dignissimos
        voluptas ea!
      </p>
    </div>
    <div class="why-item flex-col">
      <div class="flex-row" style="gap: 10px">
        <img src="/image/icons/Collaboration.svg" />
        <h3>Colloboration</h3>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore minima
        quidem enim sed eos necessitatibus asperiores! Nihil soluta pariatur
        aliquam magni possimus hic esse quas, quidem dolores dignissimos
        voluptas ea!
      </p>
    </div>
    <div class="why-item flex-col">
      <div class="flex-row" style="gap: 10px">
        <img src="/image/icons/OrganizingEvents.svg" />
        <h3>Organizing events</h3>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore minima
        quidem enim sed eos necessitatibus asperiores! Nihil soluta pariatur
        aliquam magni possimus hic esse quas, quidem dolores dignissimos
        voluptas ea!
      </p>
    </div>
    <div class="why-item flex-col">
      <div class="flex-row" style="gap: 10px">
        <img src="/image/icons/MaskGroup.svg" />
        <h3>Recommendation Letter</h3>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore minima
        quidem enim sed eos necessitatibus asperiores! Nihil soluta pariatur
        aliquam magni possimus hic esse quas, quidem dolores dignissimos
        voluptas ea!
      </p>
    </div>
  </div>
</div>
<div class="departments flex-col">
  <h2 id="department-fade">Departments</h2>
  <img src="/image/pattern/Pick.svg" class="department-pick"/>
  <div class="departments-container flex-row">
    <div class="department-item flex-col">
      <img src="/image/icons/graphic-designer.svg"/>
      <h4>Design</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, obcaecati repellendus! Magnam, commodi </p>
    </div>
    <div class="department-item flex-col">
      <img src="/image/icons/coding.svg"/>
      <h4>Development</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, obcaecati repellendus! Magnam, commodi?</p>
    </div>
    <div class="department-item flex-col">
      <img src="/image/icons/magnifying-glass.svg"/>
      <h4>Logistics</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, obcaecati repellendus! Magnam, commodi </p>
    </div>
    <div class="department-item flex-col">
      <img src="/image/icons/market-research.svg"/>
      <h4>Research</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, obcaecati repellendus! Magnam, commodi </p>
    </div>
    <div class="department-item flex-col">
      <img src="/image/icons/budget.svg"/>
      <h4>Finance</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, obcaecati repellendus! Magnam, commodi ?</p>
    </div>
    <div class="department-item flex-col">
      <img src="/image/icons/photography.svg"/>
      <h4>Photography</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, obcaecati repellendus! Magnam, commodi </p>
    </div>
    <div class="department-item flex-col">
      <img src="/image/icons/videography.svg"/>
      <h4>Videography</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, obcaecati repellendus! Magnam, commodi ?</p>
    </div>
    <div class="department-item flex-col">
      <img src="/image/icons/bullhorn.svg"/>
      <h4>Marketing</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, obcaecati repellendus! Magnam, commodi </p>
    </div>
  </div>
</div>
