<div id="about" class="about flex-col">
  <img src="/image/pattern/Pick.svg" class="about-pick circle-animation" />
  <h1>
    ABOUT
    <h1 id="about-head-fade">UI VISUALS</h1>
  </h1>
  <p>
    <span style="font-weight: 500; color: #74c042">UI Visuals</span> is a community within the Herald DevCorps at Herald College Kathmandu. Established on August 10, 2019, our focus is on designing user interfaces and front-end designs. We aim to foster connections among designers and learners to enhance UI and Visual Design. Through our community, we develop leadership, design, communication, and teamwork skills, which we believe are essential for success in any field. We emphasize knowledge sharing and learning from each other, creating a friendly and supportive environment. We welcome individuals who share our passion for design and technology, and who are dedicated to improving their skills and contributing to our community.
  </p>
  <a href="https://heraldcollege.edu.np/" target="_blank">
    <img src="/image/About_Logo.png" class="about-image" />
  </a>
  <div class="counter flex-row">
    <div class="counter-iteam flex-col">
      <h4>Members</h4>
      <h3 id="member-counter"></h3>
    </div>
    <div class="counter-iteam flex-col">
      <h4>Departments</h4>
      <h3 id="department-counter"></h3>
    </div>
    <div class="counter-iteam flex-col">
      <h4>Events</h4>
      <h3 id="events-counter"></h3>
    </div>
  </div>
  <img src="/image/pattern/black-circle-dots.svg" class="black-circle-dots" />
</div>
<div class="why flex-col">
  <h2 id="why-ui-fade">WHY <br /><span>UI VISUALS ?</span></h2>
  <div class="why-item-container flex-row">
    <div class="why-item flex-col">
      <div class="flex-row" style="gap: 10px">
        <img src="/image/icons/UX.svg" />
        <h3>Opportunity to learn</h3>
      </div>
      <p>
        The community provides an opportunity for students to learn about UI/UX
        design, design tools, and the latest design trends. By participating in
        the community's programs and activities, students can gain practical
        experience in design and enhance their skills.
      </p>
    </div>
    <div class="why-item flex-col">
      <div class="flex-row" style="gap: 10px">
        <img src="/image/icons/Leadership.svg" />
        <h3>Leadership</h3>
      </div>
      <p>
        Students can get involved in planning and organizing community events,
        developing leadership and organizational skills while making a positive
        impact on the community.
      </p>
    </div>
    <div class="why-item flex-col">
      <div class="flex-row" style="gap: 10px">
        <img src="/image/icons/Communication.svg" />
        <h3>Communication</h3>
      </div>
      <p>
        The UI Visuals Community is made up of students who share a common
        interest in design. By joining the community, students can connect with
        other like-minded individuals and expand their professional network.
      </p>
    </div>
    <div class="why-item flex-col">
      <div class="flex-row" style="gap: 10px">
        <img src="/image/icons/Collaboration.svg" />
        <h3>Collaboration</h3>
      </div>
      <p>
        UI Visuals Community is a collaborative environment that encourages
        teamwork and communication skills, providing students with the
        opportunity to work on group projects and learn how to work with others
        effectively.
      </p>
    </div>
    <div class="why-item flex-col">
      <div class="flex-row" style="gap: 10px">
        <img src="/image/icons/Resources.svg" />
        <h3>Access to Resources</h3>
      </div>
      <p>
        UI Visuals Community offers access to various design resources,
        including software, equipment, and design libraries, providing students
        with everything they need to succeed in the design industry.
      </p>
    </div>
    <div class="why-item flex-col">
      <div class="flex-row" style="gap: 10px">
        <img src="/image/icons/Industry.svg" />
        <h3>Industry Exposure</h3>
      </div>
      <p>
        The community organizes workshops, seminars, and talks by industry
        professionals, which can provide students with valuable insights into
        the design industry and career opportunities.
      </p>
    </div>
  </div>
</div>
<div class="departments flex-col">
  <h2 id="department-fade">Departments</h2>
  <div class="departments-container flex-row">
    <div class="department-item flex-col">
      <img src="/image/icons/graphic-designer.svg" />
      <h4>Design</h4>
      <p>
        The Design department is responsible for creating visual concepts and
        designs for various projects, such as website layouts, logos, and
        promotional materials.
      </p>
    </div>
    <div class="department-item flex-col">
      <img src="/image/icons/coding.svg" />
      <h4>Development</h4>
      <p>
        The Development department is responsible for creating and maintaining
        the UI Visuals website, as well as developing various web and mobile
        applications.
      </p>
    </div>
    <div class="department-item flex-col">
      <img src="/image/icons/magnifying-glass.svg" />
      <h4>Logistics</h4>
      <p>
        The Logistics department is responsible for coordinating and managing
        the logistical aspects of events and projects that UI Visuals is
        involved in, such as venue selection, transportation, and equipment
        rental
      </p>
    </div>
    <div class="department-item flex-col">
      <img src="/image/icons/market-research.svg" />
      <h4>Research</h4>
      <p>
        The Research department is responsible for conducting research related
        to the field of UI/UX design, as well as analyzing user behavior and
        preferences.
      </p>
    </div>
    <div class="department-item flex-col">
      <img src="/image/icons/budget.svg" />
      <h4>Finance</h4>
      <p>
        The Finance department is responsible for managing UI Visuals' finances,
        including budgeting, accounting, and financial reporting.
      </p>
    </div>
    <div class="department-item flex-col">
      <img src="/image/icons/photography.svg" />
      <h4>Photography</h4>
      <p>
        The Photography department is responsible for capturing high-quality
        photos of events, products, and projects that UI Visuals is involved in.
      </p>
    </div>
    <div class="department-item flex-col">
      <img src="/image/icons/videography.svg" />
      <h4>Videography</h4>
      <p>
        The Videography department is responsible for creating engaging video
        content for UI Visuals, such as event highlights and promotional videos.
      </p>
    </div>
    <div class="department-item flex-col">
      <img src="/image/icons/bullhorn.svg" />
      <h4>Marketing</h4>
      <p>
        The Marketing department is responsible for promoting UI Visuals and its
        various projects and events through various marketing channels, such as
        social media, email marketing, and content marketing.
      </p>
    </div>
  </div>
</div>
