<div class="contact flex-col" id="contact">
  <h1>Contact Us</h1>
  <h5>Let's get connected</h5>
  <img src="image/pattern/SKYLINEimage.png" class="footer-line" />
  <a style="margin-top: 20px"
    ><h4>Bhagawati Bahal Road, Naxal, Kathmandu</h4></a
  >
  <a><h4>devcorpsuivisuals@heraldcollege.edu.np</h4></a>
  <div class="flex-row footer-icons">
    <a href="https://www.linkedin.com/in/uivisuals/" target="_blank"><img src="/image/icons/Discord.png" /></a>
    <div style="width: 1px; height: 25px; background-color: #fafafa"></div>
    <a href="https://www.tiktok.com/@uivisuals" target="_blank"><img src="/image/icons/Tiktok.png" /></a>
    <div style="width: 1px; height: 25px; background-color: #fafafa"></div>
    <a href="https://www.youtube.com/@uivisuals" target="_blank"><i class="uil uil-youtube"></i></a>
    <div style="width: 1px; height: 25px; background-color: #fafafa"></div>
    <a href="https://www.facebook.com/groups/440546053340638" target="_blank"><i class="uil uil-facebook"></i></a>
    <div style="width: 1px; height: 25px; background-color: #fafafa"></div>
    <a href="https://www.linkedin.com/in/uivisuals/" target="_blank"><i class="uil uil-linkedin"></i></a>
    <div style="width: 1px; height: 25px; background-color: #fafafa"></div>
      <a href="https://www.instagram.com/devcorps.uivisuals/" target="_blank"><i class="uil uil-instagram-alt"></i></a>
  </div>
  <h5>
    © Ui Visuals Community 2022.<br />By Prajwol Neupane & Preukti Parajuli
  </h5>
</div>
