<div class="contact flex-col" id="contact">
  <h1>Contact Us</h1>
  <h5>Let's get connected</h5>
  <img src="/image/pattern/cur-2.svg" class="crr-2"/>
  <img src="/image/pattern/cur-1.svg" class="crr-1"/>
  <img src="/image/pattern/footer-dot.svg" class="footer-dot"/>
  <a style="margin-top: 20px;"><h4>Bhagawati Bahal Road, Naxal, Kathmandu</h4></a>
  <a><h4>devcorpsuivisuals@heraldcollege.edu.np</h4></a>
  <div class="flex-row footer-icons">
    <i class="uil uil-discord"></i>
    <div style="width: 1px; height: 25px; background-color: #fafafa"></div>
    <i class="uil uil-facebook"></i>
    <div style="width: 1px; height: 25px; background-color: #fafafa"></div>
    <i class="uil uil-linkedin"></i>
    <div style="width: 1px; height: 25px; background-color: #fafafa"></div>
    <i class="uil uil-instagram-alt"></i>
  </div>
  <h5>© Ui Visuals Community 2022</h5>
</div>
