<div class="flex-col bg" id="bg">
  <div class="nav flex-row" id="nav">
    <div class="nav-img flex-row">
      <img src="/image/DEV_BLACK.png" class="dev" />
      <div class="nav-line"></div>
      <img src="/image/UI_BLACK.png" class="ui" />
    </div>
    <div class="nav-items flex-row">
      <h4 onclick="scrollDown('#home')">Home</h4>
      <h4 onclick="scrollDown('#about')">About</h4>
      <h4 onclick="scrollDown('#team')">Team</h4>
      <h4 onclick="scrollDown('#event')">Events</h4>
      <h4 onclick="scrollDown('#contact')">Contact</h4>
    </div>
  </div>
  <div id="home" class="home flex-col">
    <img src="/image/UI_BLACK.png" class="home-logo" />
    <img src="/image/pattern/circle-dots.png" class="home-cricle-dots" />
    <img src="/image/pattern/triangle-dots.svg" class="home-triangle-dots" />
    <img
      src="/image/pattern/triangle.svg"
      class="home-triangle circle-animation"
    />
    <div class="flex-row home-icons">
      <a href="https://www.facebook.com/groups/440546053340638" target="_blank"
        ><i class="uil uil-facebook home-icon"></i
      ></a>
      <a href="https://www.instagram.com/devcorps.uivisuals/" target="_blank"
        ><i class="uil uil-instagram-alt home-icon"></i
      ></a>
      <a href="https://www.linkedin.com/in/uivisuals/" target="_blank"
        ><i class="uil uil-linkedin home-icon"></i
      ></a>
    </div>
    <button onclick="scrollDown('#contact')">Contact Us</button>
  </div>
</div>
<div class="counter flex-row">
  <div class="counter-item flex-col green">
    <div class="flex-row" style="align-items: center; gap: 10px">
      <i class="uil uil-users-alt"></i>
      <h4>Members</h4>
    </div>
    <h3>123</h3>
  </div>
  <div class="counter-item flex-col light-green">
    <div class="flex-row" style="align-items: center; gap: 10px">
      <i class="uil uil-apps"></i>
      <h4>Departments</h4>
    </div>
    <h3>123</h3>
  </div>
  <div class="counter-item flex-col green">
    <div class="flex-row" style="align-items: center; gap: 10px">
      <i class="uil uil-calendar-alt"></i>
      <h4>Events</h4>
    </div>
    <h3>123</h3>
  </div>
</div>
