<div class="flex-col bg" id="bg">
  <div class="nav flex-row" id="nav">
    <div class="nav-img flex-row">
      <img src="/image/DEV_BLACK.png" class="dev" />
      <div class="nav-line"></div>
      <img src="/image/UI_BLACK.png" class="ui" />
    </div>
    <div class="nav-items flex-row">
      <h4 onclick="scrollDown('#home')">Home</h4>
      <h4 onclick="scrollDown('#about')">About</h4>
      <h4 onclick="scrollDown('#team')">Team</h4>
      <h4 onclick="scrollDown('#event')">Events</h4>
      <h4 onclick="scrollDown('#contact')">Contact</h4>
    </div>
  </div>
  <div id="home" class="home flex-col">
    <img src="/image/UI_BLACK.png" class="home-logo" />
    <h3>"Leading Through Design"</h3>
    <button onclick="scrollDown('#contact')">Contact Us</button>
  </div>
</div>
<div class="counter flex-row">
  <div class="counter-item flex-col green">
    <div class="flex-row" style="align-items: center; gap: 10px">
      <i class="uil uil-users-alt"></i>
      <h4>Members</h4>
    </div>
    <h3>123</h3>
  </div>
  <div class="counter-item flex-col light-green">
    <div class="flex-row" style="align-items: center; gap: 10px">
      <i class="uil uil-apps"></i>
      <h4>Departments</h4>
    </div>
    <h3>123</h3>
  </div>
  <div class="counter-item flex-col green">
    <div class="flex-row" style="align-items: center; gap: 10px">
      <i class="uil uil-calendar-alt"></i>
      <h4>Events</h4>
    </div>
    <h3>123</h3>
  </div>
</div>
