<div class="nav flex-row">
  <div class="nav-img flex-row">
    <img src="/image/DEV_BLACK.png" class="dev" />
    <div class="nav-line"></div>
    <img src="/image/UI_BLACK.png" class="ui" />
  </div>
  <div class="nav-items flex-row">
    <h4 onclick="scrollHome()">Home</h4>
    <h4  onclick="scrollAbout()">About</h4>
    <a href="#team"><h4>Team</h4></a>
    <a href="#works"><h4>Events</h4></a>
    <a href="#contact"><h4>Contact</h4></a>
  </div>
</div>
