<div class="team flex-col" id="team">
  <h1>Meet Our<br /><span id="team-fade">Team</span></h1>
  <div class="teacher flex-row">
    <div class="mentor flex-col">
      <div class="links-teacher">
        <a
          href="https://www.linkedin.com/in/sujata-thapa-625397169/"
          target="_blank"
          ><i class="uil uil-linkedin"></i
        ></a>
        <a href="mailto:sujata.thapa@heraldcollege.edu.np" target="_blank">
          <i class="uil uil-envelope"></i
        ></a>
        <a href="https://www.instagram.com/sujata3t1/" target="_blank"
          ><i class="uil uil-instagram"></i
        ></a>
      </div>
      <img src="/image/team/Sujata_Thapa.png" />
      <h4>DevCorps Head</h4>
      <h5>Ms. Sujata Thapa</h5>
    </div>
    <div class="mentor flex-col">
      <div class="links-teacher">
        <a
          href="https://www.linkedin.com/in/dipeshshrestha1221/"
          target="_blank"
          ><i class="uil uil-linkedin"></i
        ></a>
        <a href="mailto:dipesh.shrestha@heraldcollege.edu.np" target="_blank">
          <i class="uil uil-envelope"></i
        ></a>
        <a href="https://www.instagram.com/username__dipesh.sh/" target="_blank"
          ><i class="uil uil-instagram"></i
        ></a>
      </div>
      <img src="/image/team/Dipesh_Shrestha.png" />
      <h4>Academic Mentor</h4>
      <h5>Mr. Dipesh Shrestha</h5>
    </div>
  </div>
  <h2>Our Steering Leaders</h2>
  <div class="flex-row leader">
    <% for (var i = 0; i < data.leaders.length; i++ ) { %>
    <div class="leaders flex-col">
      <div class="links-card">
        <a href="https://www.linkedin.com/in/sawurawv/" target="_blank"
          ><i class="uil uil-linkedin"></i
        ></a>
        <a href="mailto:np03cs4s210026@heraldcollege.edu.np" target="_blank">
          <i class="uil uil-envelope"></i
        ></a>
        <a href="https://www.instagram.com/mr.sawurawv/" target="_blank"
          ><i class="uil uil-instagram"></i
        ></a>
      </div>
      <img src="<%= data.leaders[i].img %>" />
      <h5><%= data.leaders[i].name %></h5>
      <h4>Steering Leader</h4>
    </div>
    <% } %>
  </div>
  <h2>Department Head</h2>
  <div class="flex-row heads">
    <div class="department-team flex-col">
      <div class="department-links-card">
        <a href="https://www.linkedin.com/in/sawurawv/" target="_blank"
          ><i class="uil uil-linkedin"></i
        ></a>
        <a href="mailto:np03cs4s210026@heraldcollege.edu.np" target="_blank">
          <i class="uil uil-envelope"></i
        ></a>
        <a href="https://www.instagram.com/mr.sawurawv/" target="_blank"
          ><i class="uil uil-instagram"></i
        ></a>
      </div>
      <img src="/image/team/Saurav_Adhikari.png" />
      <h5>Saurav Adhikari</h5>
      <h4>Design Head</h4>
    </div>
    <div class="department-team flex-col">
      <div class="department-links-card">
        <a href="https://www.linkedin.com/in/mrj100/" target="_blank">
          <i class="uil uil-linkedin"></i
        ></a>
        <a href="mailto:np03cs4s210095@heraldcollege.edu.np" target="_blank">
          <i class="uil uil-envelope"></i
        ></a>
        <a href="https://www.instagram.com/_ashim.baral__/" target="_blank"
          ><i class="uil uil-instagram"></i
        ></a>
      </div>
      <img src="/image/team/Ashim_Baral.png" />
      <h5>Ashim Baral</h5>
      <h4>Logistic Head</h4>
    </div>
    <div class="department-team flex-col">
      <div class="department-links-card">
        <a
          href="https://www.linkedin.com/in/sameer-adhikari-847a75163/"
          target="_blank"
        >
          <i class="uil uil-linkedin"></i
        ></a>
        <a href="mailto:np03cs4s210311@heraldcollege.edu.np" target="_blank">
          <i class="uil uil-envelope"></i
        ></a>
        <a href="https://www.instagram.com/paw_som/" target="_blank"
          ><i class="uil uil-instagram"></i
        ></a>
      </div>
      <img src="/image/team/Sameer_Adhikari.png" />
      <h5>Sammer Adhikari</h5>
      <h4>Photography Head</h4>
    </div>
    <div class="department-team flex-col">
      <div class="department-links-card">
        <a
          href="https://www.linkedin.com/in/gaurav-thapaliya-075699210/"
          target="_blank"
        >
          <i class="uil uil-linkedin"></i
        ></a>
        <a href="mailto:np03cs4s210070@heraldcollege.edu.np" target="_blank">
          <i class="uil uil-envelope"></i
        ></a>
        <a href="https://www.instagram.com/gaurav_thapaliya_/" target="_blank"
          ><i class="uil uil-instagram"></i
        ></a>
      </div>
      <img src="/image/team/Gaurav_Thapaliya.png" />
      <h5>Gaurav Thapaliya</h5>
      <h4>Marketing Head</h4>
    </div>
    <div class="department-team flex-col">
      <div class="department-links-card">
        <a
          href="https://www.linkedin.com/in/paruhang-rai-b7a38a212/"
          target="_blank"
        >
          <i class="uil uil-linkedin"></i
        ></a>
        <a href="mailto:np03cs4s210088@heraldcollege.edu.np" target="_blank">
          <i class="uil uil-envelope"></i
        ></a>
        <a href="https://www.instagram.com/rai__paruhang/" target="_blank"
          ><i class="uil uil-instagram"></i
        ></a>
      </div>
      <img src="/image/team/Paruhang_Rai.png" />
      <h5>Paruhang Rai</h5>
      <h4>Finance Head</h4>
    </div>
    <div class="department-team flex-col">
      <div class="department-links-card">
        <a
          href="https://www.linkedin.com/in/punam-katuwal-796b26211/"
          target="_blank"
        >
          <i class="uil uil-linkedin"></i
        ></a>
        <a href="mailto:np03cs4s210211@heraldcollege.edu.np" target="_blank">
          <i class="uil uil-envelope"></i
        ></a>
        <a href="https://www.instagram.com/punam__chettri/" target="_blank"
          ><i class="uil uil-instagram"></i
        ></a>
      </div>
      <img src="/image/team/Punam_Katuwal.png" />
      <h5>Punam Katuwal</h5>
      <h4>Research Head</h4>
    </div>
    <div class="department-team flex-col">
      <div class="department-links-card">
        <a
          href="https://www.linkedin.com/in/prajwol-neupane-b64418208/"
          target="_blank"
        >
          <i class="uil uil-linkedin"></i>
        </a>
        <a href="mailto:np03cs4a220031@heraldcollege.edu.np" target="_blank">
          <i class="uil uil-envelope"></i
        ></a>
        <a
          href="https://www.instagram.com/iamprajwolneupane/?hl=en"
          target="_blank"
        >
          <i class="uil uil-instagram"></i
        ></a>
      </div>
      <img src="/image/team/Prajwol_Neupane.png" />
      <h5>Prajwol Neupane</h5>
      <h4>Development Head</h4>
    </div>
    <div class="department-team flex-col">
      <div class="department-links-card">
        <a
          href="https://www.linkedin.com/in/aashan-bajgain-94ab55259/"
          target="_blank"
        >
          <i class="uil uil-linkedin"></i
        ></a>
        <a href="mailto:np03cs4a220002@heraldcollege.edu.np" target="_blank">
          <i class="uil uil-envelope"></i
        ></a>
        <a href="https://www.instagram.com/itsssonmee/" target="_blank"
          ><i class="uil uil-instagram"></i
        ></a>
      </div>
      <img src="/image/team/Aashan_Bajgain.png" />
      <h5>Aashan Bajgain</h5>
      <h4>Videography Head</h4>
    </div>
  </div>
  <h2>Members</h2>
  <div class="swiper member-swiper" style="width: 70%" id="member">
    <div class="swiper-wrapper member-swiper-wrapper">
      <% for (var i = 0; i < data.members.length; i++ ) { %>
      <div class="swiper-slide">
        <div class="member flex-col">
          <img src="<%= data.members[i].img %>" />
          <h5><%= data.members[i].name %></h5>
        </div>
      </div>
      <% } %>
    </div>
    <div class="swiper-button-prev">
      <i class="uil uil-angle-left-b"></i>
    </div>
    <div class="swiper-button-next">
      <i class="uil uil-angle-right-b"></i>
    </div>
  </div>
</div>
