<div class="team flex-col" id="team">
  <h1>Meet Our<br /><span id="team-fade">Team</span></h1>
  <img src="/image/pattern/irregular-circle.svg" class="irr-circle" />
  <div class="teacher flex-row">
    <div class="mentor flex-col">
      <img src="/image/team/Sujata_Thapa.png" />
      <h4>DevCorps Head</h4>
      <h5>Ms. Sujata Thapa</h5>
    </div>
    <div class="mentor flex-col">
      <img src="/image/team/Dipesh_Shrestha.png" />
      <h4>Academic Mentor</h4>
      <h5>Mr. Dipesh Shrestha</h5>
    </div>
  </div>
  <h2>Our Steering Leaders</h2>
  <div class="flex-row leader">
    <div class="leaders flex-col">
      <img src="/image/team/Saurav_Adhikari.png" />
      <h5>Saurav Adhikari</h5>
      <h4>Steering Leader</h4>
    </div>
    <div class="leaders flex-col">
      <img src="/image/team/Ashim_Baral.png" />
      <h5>Ashim Baral</h5>
      <h4>Steering Leader</h4>
    </div>
    <div class="leaders flex-col">
      <img src="/image/team/Sameer_Adhikari.png" />
      <h5>Sammer Adhikari</h5>
      <h4>Steering Leader</h4>
    </div>
    <div class="leaders flex-col">
      <img src="/image/team/Gaurav_Thapaliya.png" />
      <h5>Gaurav Thapaliya</h5>
      <h4>Steering Leader</h4>
    </div>
    <div class="leaders flex-col">
      <img src="/image/team/Paruhang_Rai.png" />
      <h5>Paruhang Rai</h5>
      <h4>Steering Leader</h4>
    </div>
    <div class="leaders flex-col">
      <img src="/image/team/Punam_Katuwal.png" />
      <h5>Punam Katuwal</h5>
      <h4>Steering Leader</h4>
    </div>
  </div>
  <h2>Department Head</h2>
  <div class="flex-row heads">
    <div class="department-team flex-col">
      <img src="/image/team/Saurav_Adhikari.png" />
      <h5>Saurav Adhikari</h5>
      <h4>Design Head</h4>
    </div>
    <div class="department-team flex-col">
      <img src="/image/team/Ashim_Baral.png" />
      <h5>Ashim Baral</h5>
      <h4>Logistic Head</h4>
    </div>
    <div class="department-team flex-col">
      <img src="/image/team/Sameer_Adhikari.png" />
      <h5>Sammer Adhikari</h5>
      <h4>Photography Head</h4>
    </div>
    <div class="department-team flex-col">
      <img src="/image/team/Gaurav_Thapaliya.png" />
      <h5>Gaurav Thapaliya</h5>
      <h4>Marketing Head</h4>
    </div>
    <div class="department-team flex-col">
      <img src="/image/team/Paruhang_Rai.png" />
      <h5>Paruhang Rai</h5>
      <h4>Finance Head</h4>
    </div>
    <div class="department-team flex-col">
      <img src="/image/team/Punam_Katuwal.png" />
      <h5>Punam Katuwal</h5>
      <h4>Research Head</h4>
    </div>
    <div class="department-team flex-col">
      <img src="/image/team/Prajwol_Neupane.png" />
      <h5>Prajwol Neupane</h5>
      <h4>Development Head</h4>
    </div>
    <div class="department-team flex-col">
      <img src="/image/team/Prajwol_Neupane.png" />
      <h5>Aashan Bajgain</h5>
      <h4>Videography Head</h4>
    </div>
  </div>
  <h2>Members</h2>
  <div class="swiper member-swiper" style="width: 70%">
    <div class="swiper-wrapper" style="margin-left: -1px">
      <div class="swiper-slide">
        <div class="member flex-col">
          <img src="/image/team/Ashim_Baral.png" />
          <h5>Ashim Baral</h5>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="member flex-col">
          <img src="/image/team/Prajwol_Neupane.png" />
          <h5>Prajwol Neupane</h5>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="member flex-col">
          <img src="/image/team/Punam_Katuwal.png" />
          <h5>Punam Katuwal</h5>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="member flex-col">
          <img src="/image/team/Preukti_Parajuli.png" />
          <h5>Preukti Parajuli</h5>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="member flex-col">
          <img src="/image/team/Saurav_Adhikari.png" />
          <h5>Saurav Adhikari</h5>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="member flex-col">
          <img src="/image/team/Ashim_Baral.png" />
          <h5>Ashim Baral</h5>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="member flex-col">
          <img src="/image/team/Prajwol_Neupane.png" />
          <h5>Prajwol Neupane</h5>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="member flex-col">
          <img src="/image/team/Punam_Katuwal.png" />
          <h5>Punam Katuwal</h5>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="member flex-col">
          <img src="/image/team/Preukti_Parajuli.png" />
          <h5>Preukti Parajuli</h5>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="member flex-col">
          <img src="/image/team/Saurav_Adhikari.png" />
          <h5>Saurav Adhikari</h5>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="member flex-col">
          <img src="/image/team/Ashim_Baral.png" />
          <h5>Ashim Baral</h5>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="member flex-col">
          <img src="/image/team/Prajwol_Neupane.png" />
          <h5>Prajwol Neupane</h5>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="member flex-col">
          <img src="/image/team/Punam_Katuwal.png" />
          <h5>Punam Katuwal</h5>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="member flex-col">
          <img src="/image/team/Preukti_Parajuli.png" />
          <h5>Preukti Parajuli</h5>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="member flex-col">
          <img src="/image/team/Saurav_Adhikari.png" />
          <h5>Saurav Adhikari</h5>
        </div>
      </div>
    </div>
    <div class="swiper-button-prev">
      <i class="uil uil-angle-left-b"></i>
    </div>
    <div class="swiper-button-next">
      <i class="uil uil-angle-right-b"></i>
    </div>
  </div>
</div>
