<div class="testonomial flex-col">
  <h2>Testimonial</h2>
  <h3>Let’s hear from our members.</h3>
  <div class="swiper testimonial-swiper" style="width: 80%">
    <div class="swiper-wrapper" style="margin-left: 25px">
      <div class="swiper-slide">
        <div class="single-testimonial flex-col">
          <div class="green-block flex-col">
            <i class="uil uil-instagram"></i>
            <i class="uil uil-envelope"></i>
            <i class="uil uil-linkedin-alt"></i>
          </div>
          <div class="flex-col testimonial-content">
            <h4>Prajwol Neupane</h4>
            <h3>Steering Leader</h3>
            <h5>
              "Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Incidunt unde iusto voluptates officiis autem fugiat ipsum."
            </h5>
          </div>
          <img src="/image/Team/Prajwol_Neupane.png" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="single-testimonial flex-col">
          <div class="green-block flex-col">
            <i class="uil uil-instagram"></i>
            <i class="uil uil-envelope"></i>
            <i class="uil uil-linkedin-alt"></i>
          </div>
          <div class="flex-col testimonial-content">
            <h4>Prajwol Neupane</h4>
            <h3>Steering Leader</h3>
            <h5>
              "Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Incidunt unde iusto voluptates officiis autem fugiat ipsum."
            </h5>
          </div>
          <img src="/image/Team/Prajwol_Neupane.png" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="single-testimonial flex-col">
          <div class="green-block flex-col">
            <i class="uil uil-instagram"></i>
            <i class="uil uil-envelope"></i>
            <i class="uil uil-linkedin-alt"></i>
          </div>
          <div class="flex-col testimonial-content">
            <h4>Prajwol Neupane</h4>
            <h3>Steering Leader</h3>
            <h5>
              "Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Incidunt unde iusto voluptates officiis autem fugiat ipsum."
            </h5>
          </div>
          <img src="/image/Team/Prajwol_Neupane.png" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="single-testimonial flex-col">
          <div class="green-block flex-col">
            <i class="uil uil-instagram"></i>
            <i class="uil uil-envelope"></i>
            <i class="uil uil-linkedin-alt"></i>
          </div>
          <div class="flex-col testimonial-content">
            <h4>Prajwol Neupane</h4>
            <h3>Steering Leader</h3>
            <h5>
              "Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Incidunt unde iusto voluptates officiis autem fugiat ipsum."
            </h5>
          </div>
          <img src="/image/Team/Prajwol_Neupane.png" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="single-testimonial flex-col">
          <div class="green-block flex-col">
            <i class="uil uil-instagram"></i>
            <i class="uil uil-envelope"></i>
            <i class="uil uil-linkedin-alt"></i>
          </div>
          <div class="flex-col testimonial-content">
            <h4>Prajwol Neupane</h4>
            <h3>Steering Leader</h3>
            <h5>
              "Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Incidunt unde iusto voluptates officiis autem fugiat ipsum."
            </h5>
          </div>
          <img src="/image/Team/Prajwol_Neupane.png" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="single-testimonial flex-col">
          <div class="green-block flex-col">
            <i class="uil uil-instagram"></i>
            <i class="uil uil-envelope"></i>
            <i class="uil uil-linkedin-alt"></i>
          </div>
          <div class="flex-col testimonial-content">
            <h4>Prajwol Neupane</h4>
            <h3>Steering Leader</h3>
            <h5>
              "Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Incidunt unde iusto voluptates officiis autem fugiat ipsum."
            </h5>
          </div>
          <img src="/image/Team/Prajwol_Neupane.png" />
        </div>
      </div>
    </div>
    <div class="swiper-button-prev">
      <i class="uil uil-angle-left-b"></i>
    </div>
    <div class="swiper-button-next">
      <i class="uil uil-angle-right-b"></i>
    </div>
  </div>
</div>
