<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./components/Header') %>
  </head>
  <body>
    <div class="flex-col event-page">
      <h2>OUR EVENT MEMORIES</h2>
      <img
        src="https://heraldcollege.edu.np/storage/post/HCK-Code-Brisk-post_1676978748.jpg"
        class="profile-image"
      />
      <h2>HERALD CODE BRISK HACKATHON</h2>
      <div class="flex-col event-content">
        <p>
          Herald DevCorps UI Visual Community, a student-led community at Herald
          College Kathmandu, successfully organized the nonstop 24-hour 'Code
          Brisk Hackathon 2023', at Kuri Village Kalinchowk. Situated at an
          altitude of 3447m above sea level, Code Brisk marks the hackathon held
          at the highest altitude. A total of 13 colleges participated in the
          hackathon, with three outstanding teams chosen to construct their
          prototypes at Kalinchowk. The primary theme of this competition was to
          boost the tourism and hospitality sector of Kalinchowk through
          innovative and practical prototypes created by the top three teams.
        </p>
        <img src="https://heraldcollege.edu.np/storage/uploads/Herald%20Code%20Brisk_1676978644.jpg" class="header-image"/>
        <p>
          "Our community's unwavering effort and dedication to this project is
          commendable and has resulted in an incredible outcome. It is a
          testament to the passion and talent within our community, and I am
          proud of every one of you", says Mr. Prakash Shrestha, the CEO of
          Herald College Kathmandu, expressing his gratitude towards the
          organizing team.
        </p>
        <div class="flex-row event-image-gallery">
          <img src="/image/events/Code_Brisk_1.png"/>
          <img src="/image/events/Code_Brisk_1.png"/>
          <img src="/image/events/Code_Brisk_1.png"/>
          <img src="/image/events/Code_Brisk_1.png"/>
        </div>
        <p>
          Herald College Kathmandu congratulates the winning team, Virinchi
          College - Team Everest for their revolutionary project, 'Tidy Town',
          which employs sensors to tackle waste management issues and offers a
          practical way of waste disposal. We would also like to extend our
          appreciation to all the participating colleges.
        </p>
        <iframe
          src="https://www.youtube.com/embed/50aIeMJ5xyQ"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
        <p>
          Ms. Sujata Thapa, Head of Herald Devcorps, also praised the organizing
          committee and the top three colleges, “The effort of everyone in our
          community is reflected in the incredible work accomplished, and I am
          honored to be a part of it. Additionally, the top 3 teams presented
          truly impressive and achievable ideas, leaving us amazed.”
        </p>
      </div>
    </div>
  </body>
</html>
