<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./components/Header') %>
  </head>
  <body>
    <div class="flex-col event-page">
        <h2 >OUR EVENT MEMORIES</h2>
        <img src="https://heraldcollege.edu.np/storage/post/HCK-Code-Brisk-post_1676978748.jpg" class="profile-image"/>
        <h2 >HERALD CODE BRISK HACKATHON</h2>
    </div>
  </body>
</html>
